n8n-workflows/service-version-matrix-sync.json
{
  "name": "Service Version Matrix — Otomatik Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000001",
      "name": "6 Saatlik Tetikleyici",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.BACKEND_URL }}/api/products?includeServices=true&limit=200",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.BACKEND_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000002",
      "name": "Tüm Ürünleri Getir",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000003",
      "name": "Ürün Listesini Böl",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-source-control",
              "leftValue": "={{ $json.sourceControlType }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000004",
      "name": "Source Control Bağlı mı?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-type-azure",
              "leftValue": "={{ $json.sourceControlType }}",
              "rightValue": "AZURE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000005",
      "name": "Platform: Azure mı?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://vsrm.dev.azure.com/{{ $json.azureOrg }}/{{ $json.azureReleaseProject || $json.azureProject }}/_apis/release/releases?api-version=7.1&$top=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ Buffer.from(':' + $json.azurePat).toString('base64') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000006",
      "name": "Azure Release'leri Getir",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -120]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.githubOwner }}/{{ $json.name }}/releases?per_page=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.githubToken }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000007",
      "name": "GitHub Release'leri Getir",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 120]
    },
    {
      "parameters": {
        "jsCode": "// Normalize service versions from Azure or GitHub\nconst input = $input.all();\nconst product = $('Ürün Listesini Böl').first().json;\nconst normalized = [];\n\nfor (const item of input) {\n  const data = item.json;\n  \n  // Azure format\n  if (data.value && Array.isArray(data.value)) {\n    for (const release of data.value) {\n      const envs = release.environments ?? [];\n      for (const env of envs) {\n        normalized.push({\n          productId: product.id,\n          serviceName: product.name,\n          version: release.name,\n          environment: env.name?.toUpperCase() ?? 'UNKNOWN',\n          status: env.status,\n          deployedAt: env.modifiedOn,\n          source: 'AZURE',\n          externalId: String(release.id),\n        });\n      }\n    }\n  }\n  \n  // GitHub format (array of releases)\n  if (Array.isArray(data)) {\n    for (const release of data) {\n      normalized.push({\n        productId: product.id,\n        serviceName: product.name,\n        version: release.tag_name,\n        environment: release.prerelease ? 'STAGING' : 'PRODUCTION',\n        status: release.draft ? 'DRAFT' : 'PUBLISHED',\n        deployedAt: release.published_at,\n        source: 'GITHUB',\n        externalId: String(release.id),\n        releaseNotes: release.body?.slice(0, 500) ?? '',\n      });\n    }\n  }\n}\n\nreturn normalized.map(v => ({ json: v }));\n"
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000008",
      "name": "Versiyonları Normalize Et",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.BACKEND_URL }}/api/service-versions/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.BACKEND_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000009",
      "name": "Service Version Kaydet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.BACKEND_URL }}/api/service-versions/rebuild-matrix",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.BACKEND_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"triggeredBy\": \"n8n-schedule\", \"timestamp\": \"={{ new Date().toISOString() }}\"}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000010",
      "name": "Matrix Yeniden Oluştur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconsole.log('Service Version Matrix sync tamamlandı:', JSON.stringify(result));\nreturn [{ json: { success: true, timestamp: new Date().toISOString(), ...result } }];"
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000011",
      "name": "Sync Özeti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 0]
    }
  ],
  "connections": {
    "6 Saatlik Tetikleyici": {
      "main": [
        [{ "node": "Tüm Ürünleri Getir", "type": "main", "index": 0 }]
      ]
    },
    "Tüm Ürünleri Getir": {
      "main": [
        [{ "node": "Ürün Listesini Böl", "type": "main", "index": 0 }]
      ]
    },
    "Ürün Listesini Böl": {
      "main": [
        [{ "node": "Source Control Bağlı mı?", "type": "main", "index": 0 }]
      ]
    },
    "Source Control Bağlı mı?": {
      "main": [
        [{ "node": "Platform: Azure mı?", "type": "main", "index": 0 }],
        []
      ]
    },
    "Platform: Azure mı?": {
      "main": [
        [{ "node": "Azure Release'leri Getir", "type": "main", "index": 0 }],
        [{ "node": "GitHub Release'leri Getir", "type": "main", "index": 0 }]
      ]
    },
    "Azure Release'leri Getir": {
      "main": [
        [{ "node": "Versiyonları Normalize Et", "type": "main", "index": 0 }]
      ]
    },
    "GitHub Release'leri Getir": {
      "main": [
        [{ "node": "Versiyonları Normalize Et", "type": "main", "index": 0 }]
      ]
    },
    "Versiyonları Normalize Et": {
      "main": [
        [{ "node": "Service Version Kaydet", "type": "main", "index": 0 }]
      ]
    },
    "Service Version Kaydet": {
      "main": [
        [{ "node": "Matrix Yeniden Oluştur", "type": "main", "index": 0 }]
      ]
    },
    "Matrix Yeniden Oluştur": {
      "main": [
        [{ "node": "Sync Özeti", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1.0.0",
  "tags": ["service-version", "matrix", "azure", "github", "sync"]
}
